<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ResultBooking</title>
    <link rel="stylesheet" type="text/css" href="css/resultBooking.css">
</head>
<body>
<div class="center">
    <h1>Результат бронирования</h1>
</div>
<hr>
<div class="mainBody">
    <h2 class="end">Успешно!</h2>
    <hr>
    <form>
        <div class="resultBooking">
            <p>Время бронирования: <span th:text="${infoToPage.booking.getBookingTableTime()}"></span></p>
            <p>Номер заказанного стола: <span th:text="${infoToPage.booking.getNumberOfTable()}"></span></p>
            <p>Имя клиента: <span th:text="${infoToPage.booking.getNamePerson()}"></span></p>
        </div>
    </form>
    <br>
    <form th:action="@{/getOrderOut}" method="POST">
        <button type="submit" class="ButtonExit" > <span>Выйти</span> </button>
    </form>
</div>
</body>
</html>