<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Waiter</title>
    <link rel="stylesheet" type="text/css" href="css/welcome.css">
    <script src="js/index_waiter.js"></script>
</head>
<body>
<div class="linkOut" > <a href="/logout"> Выход </a> </div>
<h2 class="HelloMessage"> <span th:text="${infoToPage.message}"> </span> </h2>
<div class="FormHr"> <hr> </div>
<div class="FormLog">
    <form th:action="@{/getOrderWaiter}" method="POST">
        <table class="getReg">
            <tr>
                <td> <input type="submit" value="Заказать"  class="ButtonReg" /> </td>
            </tr>
        </table>
    </form>
</div>
<div class="FormHidden">
    <form th:action="@{/getUpdateListOrder}" method="POST">
        <table class="getReg">
            <tr>
                <td> <input type="submit" value="Проверить"  class="reloadBut" /> </td>
            </tr>
        </table>
    </form>
</div>
<div class="TwoForm">
<div class="FormMenu">
    <form th:action="@{/getSetCompleted}" method="POST">
        <fieldset>
            <legend>Готовые зказы</legend>
            <table>
                <tr th:each="val : ${infoToPage.userMealsOrderReady}">
                    <td>
                        <form th:action="@{/getSetCompleted}" th:object="${infoToPage.userMealsOrderReady}" method="POST">
                            <select th:field="${infoToPage.selectOrder}" class="selectToHidden">
                                <option
                                        th:value="${val.orderNumber}"> <span th:text="${val.orderNumber}"> </span>
                                </option>
                            </select>
                            <span th:text="|Заказ №: ${val.orderNumber}|"></span>
                            <span th:text="|Стол  №: ${val.tableNumber}|"></span>
                            <span th:text="|Цена  №: ${val.totalPrice}|"></span>
                            <span th:each="val1 : ${val.orderMeals}">
                                <p th:text="${val1.title}"></p>
                            </span>
                            <button type="submit" class="ButtonEntry" > <span>Выполнен</span> </button>
                        </form>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<div class="FormOrder">
    <form>
        <fieldset>
            <legend>Выполненные зказы</legend>
            <table>
                <tr th:each="val : ${infoToPage.userMealsOrderCompleted}">
                    <td>
                        <form th:object="${infoToPage.userMealsOrderCompleted}" >
                            <select th:field="${infoToPage.selectOrder}" class="selectToHidden">
                                <option
                                        th:value="${val.orderNumber}"> <span th:text="${val.orderNumber}"> </span>
                                </option>
                            </select>
                            <span th:text="|Заказ №: ${val.orderNumber}|"></span>
                            <span th:text="|Стол  №: ${val.tableNumber}|"></span>
                            <span th:text="|Цена  №: ${val.totalPrice}|"></span>
                            <span th:each="val1 : ${val.orderMeals}">
                                <p th:text="${val1.title}"></p>
                            </span>
                        </form>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
</div>
</body>
</html>