<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menuAndOrder</title>
    <link rel="stylesheet" type="text/css" href="css/menuAndOrder.css">
    <script src="js/menuAndOrder.js"></script>
</head>
<body>
<div>
    <div class="FormMenu">
        <form th:action="@{/getMenuOrder}" method="POST">
        <fieldset>
        <legend>Меню</legend>
        <table>
            <tr>
                <td th:each="val : ${infoToPage.mealsMenu.soupMeals}">
                        <form th:action="@{/getMenuOrder}" th:object="${infoToPage.mealsMenu}" method="POST">
                        <select th:field="*{userChoice}" class="selectToHidden">
                        <option
                                th:value="${{val}}"> <span th:text="${{val}}"> </span>
                        </option>
                        </select>
                        <span th:text="${val.title}"></span>
                        <img th:src="|img/${val.linkImage}|" th:title="${val.description}" class="imageMeals" height="150" width="150">
                        <span th:text="|Цена: ${val.price} руб.|"></span>
                        <button type="submit" class="ButtonEntry" > <span>Добавить</span> </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td th:each="val : ${infoToPage.mealsMenu.mainMeals}">
                    <form th:action="@{/getMenuOrder}" th:object="${infoToPage.mealsMenu}" method="POST">
                        <select th:field="*{userChoice}" class="selectToHidden">
                            <option
                                    th:value="${{val}}"> <span th:text="${{val}}"> </span>
                            </option>
                        </select>
                        <span th:text="${val.title}"></span>
                        <img th:src="|img/${val.linkImage}|" th:title="${val.description}" class="imageMeals" height="150" width="150">
                        <span th:text="|Цена: ${val.price} руб.|"></span>
                        <button type="submit" class="ButtonEntry" > <span>Добавить</span> </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td th:each="val : ${infoToPage.mealsMenu.drinkMeals}">
                    <form th:action="@{/getMenuOrder}" th:object="${infoToPage.mealsMenu}" method="POST">
                        <select th:field="*{userChoice}" class="selectToHidden">
                            <option
                                    th:value="${{val}}"> <span th:text="${{val}}"> </span>
                            </option>
                        </select>
                        <span th:text="${val.title}"></span>
                        <img th:src="|img/${val.linkImage}|" th:title="${val.description}" class="imageMeals" height="150" width="150">
                        <span th:text="|Цена: ${val.price} руб.|"></span>
                        <button type="submit" class="ButtonEntry" > <span>Добавить</span> </button>
                    </form>
                </td>
            </tr>
        </table>
        </fieldset>
        </form>
    </div>
    <div class="FormOrder">
        <form th:action="@{/getMenuDelItem}" method="POST">
            <fieldset>
            <legend th:text="|Стол № ${infoToPage.userMealsOrder.tableNumber}|"></legend>
            <table>
            <tr th:each="val : ${infoToPage.userMealsOrder.orderMeals}">
                <td>
                    <span th:text="${val.title}"></span>
                    <span th:text="|, цена: ${val.price} руб.|"></span>
                </td>
                <td>
                    <form th:action="@{/getMenuDelItem}" th:object="${infoToPage.mealsMenu}" method="POST">
                        <select th:field="*{userChoice}" class="selectToHidden">
                            <option
                                    th:value="${{val}}"> <span th:text="${{val}}"> </span>
                            </option>
                        </select>
                        <button type="submit" class="ButtonDel" > <span>Удалить</span> </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td width="300">
                    <p> Сумма заказа: </p>
                </td>
                <td>
                    <p th:text="${{infoToPage.userMealsOrder.totalPrice}}" id="totalPrice"> </p>
                </td>
            </tr>
            </table>
            </fieldset>
        </form>
    </div>
    <div class="divAction">
        <table>
        <tr>
            <td width="320">
                <form th:action="@{/getOrderOut}" method="POST">
                    <button type="submit" class="ButtonExit" > <span>Выйти</span> </button>
                </form>
                <form th:action="@{/getOrderEscape}" method="POST">
                    <button type="submit" class="ButtonDel" > <span>Очистить</span> </button>
                </form>
            </td>
            <td>
                <form th:action="@{/getOrderStart}" method="POST">
                    <button type="submit" class="ButtonDel" id="ButtonOrder"> <span>Заказать</span> </button>
                </form>
            </td>
        </tr>
        </table>
    </div>
</div>
</body>
</html>