<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Send password</title>
    <link rel="stylesheet" type="text/css" href="css/passwordSendToEmail.css">
</head>
<body>
<h3 class="HelloMessage"> <span th:text="${infoToPage.message}"> </span> </h3>
<div class="FormHr"> <hr> </div>
<div class="FormLog">
        <form th:action="@{/getEnterAfterGetPassword}" th:object="${infoToPage.userInfo}" method="POST">
            <table class="getData">
                <tr>
                    <td> <input type="submit" value="Войти" class="ButtonEntry"/></td>
                </tr>
            </table>
        </form>
</div>

</body>
</html>