<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="css/registration.css">
	<script src="js/registration.js"></script>
</head>
<body>
<h2 class="HelloMessage"> <span th:text="${infoToPage.message}"> </span> </h2>
<div class="FormHr"> <hr> </div>

        <form th:action="@{/getRegistration}" th:object="${infoToPage.userInfo}" method="POST">
		<p>	
			<label for="t1"> Введите имя : </label>
			<input type="text" th:field="*{firstName}" value="*{firstName}" placeholder="Имя" id="t1" name="firstName" required />
		</p>
		<p>	
			<label for="t2"> Введите фамилию : </label>
            <input type="text" th:field="*{lastName}" value="*{lastName}" placeholder="Фамилия" id="t2" name="lastName"/>
		</p>	
			<label for="e1"> Email : </label>
			<input type="email" th:field="*{email}" value="*{email}" placeholder="Email" id="e1" name="email" required />
		<p>		
			<label for="e1"> Телефон (без восьмерки) : </label>
            <input type="text" th:field="*{phone}" value="*{phone}" placeholder="Телефон" id="t3" name="phone"
			required pattern="\d{10}"/>
		</p>	
			<label for="p1"> Введите пароль : </label>
			<input type="password" th:field="*{password}" placeholder="Пароль" id="p1" name="password1" required />
		<p>	
			<label for="p2"> Повторите пароль: </label>
			<input type="password" placeholder="Повторите пароль" id="p2" name="password2" required/>
		</p>
		<p>
			<input type="submit" value="Регистрация" class="ButtonEntry"/>
		</p>
        </form>			
</body>
</html>