<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select table</title>
    <link rel="stylesheet" type="text/css" href="css/select_table.css">
</head>
<body>
<div>
    <div class="FormMenu">
        <form th:action="@{/getMenuOrder}" method="POST">
            <fieldset>
                <legend>Столы</legend>
                <table>
                    <tr th:each="val : ${infoToPage.tables}">
                        <td>
                            <form th:action="@{/getMenuOrder}" th:object="${infoToPage.tables}" method="POST">
                                <select th:field="${infoToPage.selectTable}" class="selectToHidden">
                                    <option
                                            th:value="${{val.numberTable}}"> <span th:text="${{val.numberTable}}"> </span>
                                </select>
                                <span th:text="|Стол №: ${val.numberTable}|"></span>
                                <button type="submit" class="ButtonEntry" > <span>Выбрать</span> </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>