<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wrong password</title>
    <link rel="stylesheet" type="text/css" href="css/wrongPassword.css">
</head>
<body>
<h3 class="HelloMessage"> <span th:text="${infoToPage.message}"> </span> </h3>
<div class="FormHr"> <hr> </div>
<div class="FormLog">
        <form th:action="@{/getEntry}" th:object="${infoToPage.userInfo}" method="POST">
            <table class="getData">
				<tr>
					<td> Введите пароль: </td>
                </tr>
				<tr> 
					<td> <input type="password" th:field="*{password}" class="InputPass" /> </td>
				</tr>
                <tr>
                    <td> <input type="submit" value="Войти" class="ButtonEntry"/></td>
                </tr>
            </table>
        </form>
</div>
<div class="FormReg">		
        <form th:action="@{/getPassword}" th:object="${userInfo}" method="POST">
			<table class="getReg">
			    <tr>
				<td> <input type="submit" value="Выслать пароль"  class="ButtonReg" /> </td>
				</tr>
			</table>
        </form>
</div>

</body>
</html>