.header {
    text-align: center;
}

.tables {
    display: inline-block;
    padding: 30px;
    font-size: 20px;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 2%;
    grid-gap: 16px;
}

.mainBody {
    display: flex;
    justify-content: center;
}

.tableNum {
    display: none;
}

a {
    background-color: #c4c4c4;
    box-shadow: 0 5px 0 #a6a6a6;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #c5c3c3;
    cursor: pointer;
}

a:active {
    box-shadow: none;
    top: 5px;
}

.inputPlace {
    float: left;
}