#header {
    text-align: center;
}


#buttonTable {
    display: flex;
    justify-content: center;
}

#bottom {
    text-align: center;
    display: flex;
    justify-content: center;
}

.ButtonBooking {
    height:100px;
    width:100px;
    font-size: 18px;

}

