.header {
    text-align: center;
}

.mainBody {
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    font-family: sans-serif;
    padding: 1%;
    grid-gap: 16px;
    font-size: 18px;
}

.tables {
    display: inline-block;
    padding: 30px;
    font-size: 18px;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 2%;
    grid-gap: 16px;
}

.shine-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #181818;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #252525;
    transition: .2s ease-in-out;
}
.shine-button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}
.shine-button:hover {
    background: #2f2f2f;
    color: #fff;
}
.shine-button:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}

.inputPlace {
    float: right;
}

.tableNum {
    display: none;
}

a {
    background-color: #c4c4c4;
    box-shadow: 0 5px 0 #a6a6a6;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #c5c3c3;
    cursor: pointer;
}

a:active {
    box-shadow: none;
    top: 5px;
}

select {
    display: inline-block;
    height: 40px;
    width: 150px;
    outline: none;
    color: #74646e;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    background: #eee;
}
