.header {
    text-align: center;
}

.mainBody {
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    font-family: sans-serif;
    padding: 1%;
    grid-gap: 16px;
}

.confirmBookingButton {
    font-size: 20px;
    display: inline-block;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;

    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.tableNum {
    display: none;
}

a {
    background-color: #c4c4c4;
    box-shadow: 0 5px 0 #a6a6a6;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #c5c3c3;
    cursor: pointer;
}

a:active {
    box-shadow: none;
    top: 5px;
}