body {
	background-color: #ffffff;
	margin-left: 2%;
	margin-right: 2%;
	font-family: sans-serif;
}

h3 {
  text-align: center;
  font-style: normal;
  font-family: 'Courier New', serif;
}

.FormHr {
    /*border: 5px  solid grey;*/
    width: 300px; /* Ширина элемента в пикселах */
    padding: 5px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

.selectToHidden {
   display: none;
}
.imageMeals {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.FormMenu {
    /*border: 5px  solid grey; */
    /*width: 500px; /* Ширина элемента в пикселах */
    padding: 2px; /* Поля вокруг текста */
    margin-left: 35%;
    margin-right: 40%;
}

.FormOrder {
    /*border: 5px  solid grey;*/
    width: 420px; /* Ширина элемента в пикселах */
    padding: 2px; /* Поля вокруг текста */
    /* margin: auto; Выравниваем по центру */
    float: right;
}
.divAction{
    /*border: 5px  solid grey;*/
    width: 420px; /* Ширина элемента в пикселах */
    padding: 2px; /* Поля вокруг текста */
    /* margin: auto; Выравниваем по центру */
    float: right;
}

.ButtonEntry{
    margin-top: 2px;
    background: #ffffff;
	width: 80px;
    height: 20px;
}

.ButtonDel{
    margin-left: 2px;
    float: right;
    background: #ffffff;
	width: 80px;
    height: 20px;
}

.ButtonExit{
    margin-left: 2px;
    float: left;
    background: #ffffff;
	width: 80px;
    height: 20px;
}
