#header {
    text-align: center;
}


#main {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 2%;
    padding: 1%;
    grid-gap: 16px;
}

.ButtonRedacted {
    height:100px;
    width:200px;
    font-size: 18px;
}

.mainBody {
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    font-family: sans-serif;
    padding: 1%;
    grid-gap: 16px;
}

a {
    background-color: #c4c4c4;
    box-shadow: 0 5px 0 #a6a6a6;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #c5c3c3;
    cursor: pointer;
}

a:active {
    box-shadow: none;
    top: 5px;
}