.header {
    text-align: center;
}

.center {
    text-align: center;
}

.mainBody {
    background-color: #faf8f8;
    border: 3px black solid;
    border-radius: 10px;
    margin-right: 40%;
    margin-left: 40%;
    font-family: serif;
    padding: 2%;
}

.resultBooking {
    font-size: 20px;
}

.end {
    text-align: center;
}

a {
    background-color: #adadad;
    box-shadow: 0 5px 0 #8c8c8c;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #c5c3c3;
    cursor: pointer;
}

a:active {
    box-shadow: none;
    top: 5px;
}
