.start {
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    font-family: sans-serif;
    padding: 1%;
    grid-gap: 16px;
}

.linkOut {
    float: right;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.ButtonBooking {
    font-size: 20px;
    display: inline-block;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;

    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

}