body {
	background-color: Azure;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}

.img_header {
	background-image: url(../img/logo_cafe_Kitchen.jpg);
    width: 300px; 
    height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto
}
 
.img_header_con {
	margin-top: 25px;
	width: 300px; 
    height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto	
}

div.FormLog {
    /*border: 5px  solid grey;*/  
	margin-top: 25px;
	width: 400px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
div.FormReg {
    /*border: 5px  solid grey;*/
	width: 400px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
div.Aling {
	width: 78px;
}
table.getData{
    border-collapse: separate; /* Способ отображения границы */ 
    width: 100%; /* Ширина таблицы */ 
    border-spacing: 0 10px; /* Расстояние между ячейками */
}
table.getReg{
    border-collapse: separate; /* Способ отображения границы */ 
    width: 100%; /* Ширина таблицы */ 
    border-spacing: 0 10px; /* Расстояние между ячейками */
} 
input.BottonReg{
	width: 100px;
    height: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
input.BottonEntry{
	width: 100px;
    height: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
input.InputEmail{
	width: 180px;
    height: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
input.InputPass{
	width: 180px;
    height: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto
}