body {
	background-color: Azure;
	margin-left: 10%;
	margin-right: 10%;
	font-style: normal;
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
}

h2 {
  text-align: center;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

div.FormHr {
    /*border: 5px  solid grey;*/
    width: 300px; /* Ширина элемента в пикселах */
    padding: 5px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

label {
  display: block;
}

form {
  font: 1em sans-serif;
  max-width: 200px;
  margin: auto; /* Выравниваем по центру */
}

input[type="text"],
fieldset {
  width : 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}


input.ButtonEntry{
	margin-top: 10px;
    background: LightCyan;
	width: 120px;
    height: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
