.header {
    text-align: center;
}

.tables {
    display: inline-block;
    padding: 30px;
    font-size: 20px;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 2%;
    grid-gap: 16px;
}

.mainBody {
    display: flex;
    justify-content: center;
}

.tableNum {
    display: none;
}

button.ButtonExit{
    margin: auto;
    background: LightCyan;
    width: 80px;
    height: 20px;
}