
h2 {
    text-align: center;
}

form {
    font: 1em sans-serif;
    max-width: 200px;
    margin: auto;
}

input[type="text"],
input[type="password"],
fieldset {
    width : 100%;
    border: 1px solid #333;
    box-sizing: border-box;
}