body {
	background-color: Azure;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}

h3 {
  text-align: center;
  font-style: normal;
  font-family: 'Courier New', serif;
}

div.FormHr {
    /*border: 5px  solid grey;*/
    width: 300px; /* Ширина элемента в пикселах */
    padding: 5px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

div.FormLog {
    /*border: 5px  solid grey;*/
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

table.getData{
    border-collapse: separate; /* Способ отображения границы */ 
    border-spacing: 0 5px; /* Расстояние между ячейками */
	margin: auto; /* Выравниваем по центру */
}

input.ButtonEntry{
    margin-top: 10px;
    background: LightCyan;
	width: 120px;
    height: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto
}