body {
    background-color: Azure;
    margin-left: 2%;
    margin-right: 2%;
    font-family: sans-serif;
}

select.selectToHidden {
    display: none;
}
.imageMeals {
    display: block;
    margin-left: auto;
    margin-right: auto
}

div.FormMenu {
    /*border: 5px  solid grey; */
    width: 250px; /* Ширина элемента в пикселах */
    padding: 5px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

div.FormOrder {
    /*border: 5px  solid grey;*/
    width: 420px; /* Ширина элемента в пикселах */
    padding: 2px; /* Поля вокруг текста */
    /* margin: auto; Выравниваем по центру */
    float: right;
}
div.divAction{
    /*border: 5px  solid grey;*/
    width: 420px; /* Ширина элемента в пикселах */
    padding: 2px; /* Поля вокруг текста */
    /* margin: auto; Выравниваем по центру */
    float: right;
}

button.ButtonEntry{
    margin-top: 2px;
    background: LightCyan;
    width: 80px;
    height: 20px;
}

button.ButtonDel{
    margin-left: 2px;
    float: right;
    background: LightCyan;
    width: 80px;
    height: 20px;
}

button.ButtonExit{
    margin-left: 2px;
    float: left;
    background: LightCyan;
    width: 80px;
    height: 20px;
}
