body {
	background-color: Azure;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}

.linkOut {
    float: right;
}

h2 {
  text-align: center;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

div.FormMenu {
    /*border: 5px  solid grey; */
    /*width: 500px; /* Ширина элемента в пикселах */
    padding: 2px; /* Поля вокруг текста */
    float: left;
}

select.selectToHidden {
    display: none;
}

div.TwoForm {

    width: 1000px; /* Ширина элемента в пикселах */
    padding: 5px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

div.FormOrder {
    /*border: 5px  solid grey;*/
    /*width: 420px; !* Ширина элемента в пикселах *!*/
    padding: 2px; /* Поля вокруг текста */
    /* margin: auto; Выравниваем по центру */
    float: right;
}

div.FormHr {
    /*border: 5px  solid grey;*/
    width: 300px; /* Ширина элемента в пикселах */
    padding: 5px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

div.FormLog {
    /*border: 5px  solid grey;*/
    width: 250px; /* Ширина элемента в пикселах */
    padding: 5px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

div.FormReg {
    /*border: 5px  solid grey;*/
    width: 250px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

table.getData{
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
    border-collapse: separate; /* Способ отображения границы */ 
    border-spacing: 0 5px; /* Расстояние между ячейками */
	margin: auto; /* Выравниваем по центру */
}
table.getReg{
    border-collapse: separate; /* Способ отображения границы */ 
    border-spacing: 0 2px; /* Расстояние между ячейками */
	margin: auto; /* Выравниваем по центру */
} 
input.ButtonReg{
    background: LightCyan;
	width: 120px;
    height: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
input.ButtonEntry{
	margin-top: 10px;
    background: LightCyan;
	width: 120px;
    height: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
input.InputEmail{
	width: 220px;
    height: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
input.InputPass{
	width: 220px;
    height: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto
}

div.FormHidden{
    display: none;
}