<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Cook</title>
    <link rel="stylesheet" type="text/css" href="css/welcome.css">
</head>
<body>
<div class="linkOut" > <a href="/logout"> Выход </a> </div>
<h2 class="HelloMessage"> <span th:text="${infoToPage.message}"> </span> </h2>
<div class="FormHr"> <hr> </div>
<div class="FormLog">
    <form th:action="@{/getCookStart}" method="POST">
        <table class="getReg">
            <tr>
                <td> <input type="submit" value="Начать"  class="ButtonReg" /> </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>