<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CookMenu</title>
    <link rel="stylesheet" type="text/css" href="/css/Order.css">
</head>
<body>
<div class="linkOut" > <a href="/logout"> Выход </a> </div>
<div class="container">
<div class="left">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Принятые в работу</th>
        </tr>
        </thead>
        <div th:each="order: ${orderList}">
            <tbody class="mainTable">
            <form th:action="@{/}" th:object="${deleteOrder}" method="post">
                <select class="tableNum" th:field="*{orderNumber}">
                    <option th:text="${order.getOrderNumber()}" th:value="${order.getOrderNumber()}">
                    </option>
                </select>
                <tr class="blockOrder">
                    <td>
                        <h3>Номер заказа:
                            <span th:text="${order.getOrderNumber()}"></span>
                        </h3>
                        <h4>Заказ на время: <span th:text="${order.getBookingTime()}" ></span></h4>
                        <hr>
                        <div class="mealsList">
                        <p>Список блюд:</p>
                        <ul th:each="meals: ${order.orderMeals}">
                            <input type="checkbox" class="flag">
                            <li th:text="${meals.title}"></li>
                        </ul>
                        <br>
                        </div>
                        <button type="submit" class="readyButton"><span>Пометить как готовый</span></button>
                    </td>
                </tr>
            </form>
            </tbody>
        </div>
    </table>
</div>

<div class="right">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Готовые к выдаче</th>
        </tr>
        </thead>
        <div th:each="readyOrder: ${readyOrderList}">
            <tbody class="mainTable">
            <td id="textReadyOrderRight">
                <h3>Заказ
                    <span th:text="${readyOrder.getOrderNumber()}"></span>
                </h3>
            </td>
            </tr>
            </tbody>
        </div>
    </table>
</div>
</div>
</body>
</html>