<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- <h2>  User page status: <span th:text="${statusPage}"></span></h2> -->
<h2> Пожалуйста авторизируйтесь </h2>
<a href="/" tite="Воити"> Вернуться на главную </a>
</body>
</html>