@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap');

body {
    background-color: #271007;
    font-family: 'Roboto', sans-serif;
}

.linkOut {
    float: right;
}
.tableNum {
    display: none;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px outset #dddddd;
}
.table td {
    color: black;
    background-color: #e0e0e0;
    border-radius: 10px;
    border: 1px outset #dddddd;
    padding: 5px;
}

.header{
    text-align: center;
}

.mainTable {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    grid-gap: 16px;
}

.left{
    background-color: #ffa577;
    width:50%;
    height:900px;
    overflow:auto;
    float:left;
}

.right{
    background-color: #896e69;
    width:50%;
    height:900px;
    overflow:auto;
    float:right;
}

.textReadyOrder {
    font-family: 'Roboto', sans-serif;
    color: white;
}

#textReadyOrderRight {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.mealsList {
    font-size: 16px;
    text-align: left;
}

.readyButton {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}

.readyButton:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

.readyButton:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.flag {
    display: inline-block;
    float:right;
}

