<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ActivationCode</title>
    <link rel="stylesheet" type="text/css" href="css/activationCodePage.css">
	<script src="registration.js"></script>
</head>
<body>
<h2 class="HelloMessage"> <span th:text="${infoToPage.message}"> </span> </h2>
<div class="FormHr"> <hr> </div>

        <form th:action="@{/getEnterWithCodeActivation}" th:object="${infoToPage}" method="POST">
		<p>	
			<input type="text" th:field="*{codeActivationFromUser}" placeholder="Код из email" id="t1" name="firstName" />
		</p>
		<p>
			<input type="submit" value="Войти" class="ButtonEntry"/>
		</p>
        </form>		
        <form th:action="@{/getChangeEmail}"  method="POST">
		<p>
			<input type="submit" value="Сменить email" class="ButtonEntry"/>
		</p>
        </form>		
        <form th:action="@{/getNewActivationCode}" method="POST">
		<p>
			<input type="submit" value="Выслать код" class="ButtonEntry"/>
		</p>
        </form>	 		
</body>
</html>