<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookingResult</title>
    <link rel="stylesheet" type="text/css" href="css/bookingTable.css">
</head>
<body>
<div class="header">
    <h1>Меню выбора столика</h1>
</div>
<hr>
<div class="mainBody">
<span th:each="val : ${infoToPage.tables}">
    <form th:action="@{/resultBookingTable}" th:object="${infoToPage.booking}" method="POST" class="tables">
        <p>Стол номер
            <span th:text="${val.getId()}"></span>
        </p>
            <img src="img/table.png">
            <select th:field="*{bookingTableTime}">
                <option th:each="strVal : ${infoToPage.allTime}" th:text="${strVal}" th:value="${strVal}">
                </option>
            </select>
        <select class="tableNum" th:field="*{numberOfTable}">
                <option th:text="${val.getId()}" th:value="${val.getId()}">
                </option>
        </select>
        <span>
            <input type="text" th:field="*{namePerson}" value="Имя" required placeholder="Имя посетителя">
        </span>
            <button type="submit" class="ButtonEntry"><span> Выбрать</span></button>
            <hr>
    </form>
</span>
</div>
<div class="mainBody">
    <form th:action="@{/getOrderOut}" method="POST">
        <button type="submit" class="ButtonExit" > <span>Выйти</span> </button>
    </form>
</div>
</body>
</html>