<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Caffe</title>
    <link rel="stylesheet" type="text/css" href="css/welcome.css">
</head>
<body>
<div class="img_header_con">
    <img class="img_header">
</div>
<h2 class="HelloMessage"> <span th:text="${infoToPage.message}"> </span> </h2>
<div class="FormHr"> <hr> </div>
<div class="FormLog">

        <form th:action="@{/getEntry}" th:object="${infoToPage.userInfo}" method="POST">
            <table class="getData">
                <tr>
					<td>Ведите email или телефон :</td>
				</tr>
				<tr>
                    <td><input type="text" th:field="*{email}" value="*{email}" placeholder="Логин" name="username" class="InputEmail" /></td>
                </tr>
                <tr>
					<td> Введите пароль: </td>
				</tr>
				<tr>
					<td><input type="password" th:field="*{password}" placeholder="Пароль" name="password" class="InputPass" /></td>
                </tr>
                <tr>
                   <td> <input type="submit" value="Войти" class="ButtonEntry"/></td>
                </tr>
            </table>
        </form>
</div>
<div class="FormReg">		
        <form th:action="@{/getRegistrationForm}" th:object="${userInfo}" method="POST">
			<table class="getReg">
			    <tr>
					<td> <input type="submit" value="Регистрация"  class="ButtonReg" /> </td>
				</tr>
			</table>
        </form>
</div>

</body>
</html>