<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu and Order</title>
    <link rel="stylesheet" type="text/css" href="css/orderMealsFinal.css">
</head>
<body>
<h3 class="HelloMessage"> <span th:text="${infoToPage.message}"> </span> </h3>
<div class="FormHr"> <hr> </div>
<div>
    <div class="FormOrder">
        <form>
            <fieldset>
            <legend th:text="|Заказ номер : ${infoToPage.userMealsOrder.orderNumber}|"></legend>
            <table>
            <tr th:each="val : ${infoToPage.userMealsOrder.orderMeals}">
                <td>
                    <span th:text="${val.title}"></span>
                </td>
                <td>
                    <span th:text="|${val.price} руб.|"></span>
                </td>
            </tr>
            <tr>
                <td width="300">
                    <p> Сумма заказа: </p>
                </td>
                <td>
                    <p th:text="${{infoToPage.userMealsOrder.totalPrice}}" id="totalPrice"> </p>
                </td>
            </tr>
            </table>
            </fieldset>
        </form>
    </div>
    <div class="divAction">
        <table>
            <tr>
                <td width="220"> <p>            </p></td>
                <td align="right" width="300"> <p> Отправить номер заказа на почту</p></td>
            </tr>
        <tr>
            <td>
                <form th:action="@{/getOrderOut}" method="POST">
                    <button type="submit" class="ButtonExit" > <span>Выйти</span> </button>
                </form>
            </td>
            <td>
                <form th:action="@{/getSendOrderToMail}" method="POST">
                    <button type="submit" class="ButtonDel"> <span>Отправить</span> </button>
                </form>
            </td>
        </tr>
        </table>
    </div>
</div>
</body>
</html>