<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation and Order</title>
    <link rel="stylesheet" type="text/css" href="css/reservationAndOrder.css">
</head>
<body>
<div class="linkOut" > <a href="/logout"> Выход </a> </div>
<h3 class="HelloMessage"> <span th:text="${infoToPage.message}"> </span> </h3>
<div class="FormHr"> <hr> </div>
<div class="FormLog">
    <table class="getData">
        <tr>
            <form th:action="@{/getTableOrder}" th:object="${infoToPage}" method="POST">
                <td> <input type="submit" value="Бронировать стол" class="ButtonEntry"/></td>
            </form>
            <form th:action="@{/getMenuOrder}" th:object="${infoToPage}" method="POST">
                <td> <input type="submit" value="Заказ из меню" class="ButtonEntry"/></td>
            </form>
            <!--
            <form th:action="@{/getHistory}" th:object="${infoToPage}" method="POST">
                <td> <input type="submit" value="Мои заказы" class="ButtonEntry"/></td>
            </form>
            -->
        </tr>
    </table>
</div>
</body>
</html>