<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddDish</title>
    <link rel="stylesheet" type="text/css" href="/css/ConfirmTable.css">
    <script src="/js/addDish.js"></script>
</head>
<body>
<div class="header">
    <h1>Добавление Блюда в меню</h1>
</div>
<hr>
<div class="mainBody">
    <form th:action="@{/addDishToMenu}" th:object="${meals}" method="post">
        <fieldset>
<!--            <div>-->
<!--                <span> Id блюда:</span>-->
<!--                <input type="text" th:field="*{id}" required placeholder="id блюда" class="inputPlace">-->
<!--            </div>-->
            <br>
            <span>Выберете тип блюда</span>
            <span>
                <select th:field="*{type}">
                <option th:text="Cуп" th:value="soup"></option>
                <option th:text="Главное" th:value="main"></option>
                <option th:text="Напиток" th:value="drink"></option>
                </select>
            </span>
            <br>
            <br>
            <div>
                <span>Название</span>
                <input type="text" th:field="*{title}" required placeholder="название" class="inputPlace" id="mealsName">
            </div>
            <br>
            <div>
                <span>Цена</span>
                <input type="text" th:field="*{price}" required placeholder="цена" class="inputPlace">
            </div>
            <br>
            <div>
                <span>Описание</span>
                <input type="text" th:field="*{description}" required placeholder="описание" class="inputPlace">
            </div>
            <br>
<!--            <div>-->
<!--                <span>картинка</span>-->
<!--                <input type="text" th:field="*{linkImage}" required placeholder="картинка" class="inputPlace">-->
<!--            </div>-->
            <p><input onclick="successfulAddDish()" type="submit" value="Добавить"></p>
        </fieldset>
    </form>
    </fieldset>
    </form>
    <div id="resultMealsAdd"></div>
</div>
<br>
<div class="mainBody">
    <a href="/">На главную</a>
    <a href="/removeDish">Редактор меню</a>
</div>
</body>
</html>