<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookingResult</title>
    <link rel="stylesheet" type="text/css" href="/css/BookingTable.css">
</head>
<body>
<div class="header">
    <h1>Меню выбора столика</h1>
</div>
<hr>
<div class="mainBody">
<span th:each="val : ${tables}">
    <form th:action="@{/resultBookingTable}" th:object="${booking}" method="POST" class="tables">
        <p>Стол номер:
            <span th:text="${val.getId()}"></span>
        </p>
            <img src="img/table.png">
            <select th:field="*{bookingTableTime}">
                <option th:each="strVal : ${allTime}" th:text="${strVal}" th:value="${strVal}">
                </option>
            </select>
        <select class="tableNum" th:field="*{numberOfTable}">
                <option th:text="${val.getId()}" th:value="${val.getId()}">
                </option>
        </select>
        <div class="inputPlace">
            <input type="text" th:field="*{namePerson}" value="Имя" required placeholder="Имя посетителя">
            <input type="text" th:field="*{telephoneNumber}" value="телефон" required placeholder="телефон">
        </div>
            <button type="submit" class="ButtonEntry"><span> Выбрать</span></button>
            <br>
            <hr>
    </form>
</span>
</div>
<div class="mainBody">
    <a href="/">Назад в меню</a>
</div>
</body>
</html>