<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CancelBooking</title>
    <link rel="stylesheet" type="text/css" href="/css/BookingTable.css">
</head>
<body>
<div class="header">
    <h1>Снятие бронирования</h1>
    <hr>
</div>
<div class="mainBody">
    <span th:each="booking : ${bookingList}">
    <form th:action="@{/cancel}" th:object="${cancelBooking}" method="POST" class="tables">
        <img src="img/table.png">
        <p>Бронь на имя:
            <span th:text="${booking.getNamePerson()}" th:value="${booking.getNamePerson()}"></span>
        </p>
        <p>Стол номер:
            <span th:text="${booking.getNumberOfTable()}" th:value="${booking.getNumberOfTable()}"></span>
        </p>
        <p>Номер телефона:
            <span th:text="${booking.getTelephoneNumber()}" th:value="${booking.getTelephoneNumber()}"></span>
        </p>
        <p>Статус бронирования:
            <span th:text="${booking.getBookingStatus()}" th:value="${booking.getBookingStatus()}"></span>
        </p>
        <select class="tableNum" th:field="*{numberOfTable}">
                <option th:text="${booking.getNumberOfTable()}" th:value="${booking.getNumberOfTable()}">
                </option>
        </select>
            <button type="submit" class="ButtonEntry"><span>Выбрать</span></button>
            <hr>
    </form>
    </span>
</div>
<div class="mainBody">
    <a href="/">Назад в меню</a>
</div>
</body>
</html>