<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ConfirmResult</title>
    <link rel="stylesheet" type="text/css" href="/css/ResultBooking.css">
</head>
<body>
<div class="header">
    <h1>Результат бронирования</h1>
    <hr>
</div>
<div class="mainBody">
    <h2 class="end">Подтверждено!</h2>
    <hr>
    <div class="resultBooking">
        <p>Номер стола:<span th:text="${booking.numberOfTable}" th:value="${booking.numberOfTable}"></span></p>
        <p>На имя:<span th:text="${booking.namePerson}" th:value="${booking.namePerson}"></span></p>
        <p>Статус:<span th:text="${booking.bookingStatus}" th:value="${booking.bookingStatus}"></span></p>
    </div>
    <div class="end">
        <a href="/">Назад в меню</a>
    </div>
</div>
</body>
</html>