<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
    <link rel="stylesheet" type="text/css" href="/css/Confirm.css">
</head>
<body>
<div class="header">
    <h1>Подтверждение бронирования</h1>
    <hr>
</div>

<h3 class="header">Выберете время бронирования</h3>
<div class="mainBody">
    <span th:each="time : ${allBookingTime}">
    <form th:action="@{/confirm}" th:object="${confirmTime}" method="POST">
        <input type="submit" th:value="${time}" class="confirmBookingButton"/>
            <select class="tableNum" th:field="*{confirmTime}">
                <option th:text="${time}" th:value="${time}">
                </option>
            </select>
    </form>
    </span>
</div>
<div class="mainBody">
    <a href="/">Назад в меню</a>
</div>
</body>
</html>