<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConfirmTable</title>
    <link rel="stylesheet" type="text/css" href="/css/ConfirmTable.css">
</head>
<body>
<div class="header">
    <h1>Веберете стол для подтверждения</h1>
    <hr>
</div>
<div class="mainBody">
    <span th:each="val : ${allBookingListWithConfirmTime}">
    <form th:action="@{/confirmResult}" method="POST" class="tables">
        <img src="img/table.png">
        <p>Бронь на имя:
            <span th:text="${val.getNamePerson()}" th:value="${val.getNamePerson()}"></span>
        </p>
        <p>Телефон:
            <span th:text="${val.getTelephoneNumber()}" th:value="${val.getTelephoneNumber()}"></span>
        </p>
        <p>Стол номер:
            <span th:text="${val.getNumberOfTable()}" th:value="${val.getNumberOfTable()}"></span>
        </p>

    <!--добавление в объект для вывода информации на сл странице-->
        <span th:object="${booking}">
        <select th:field="*{bookingStatus}" class="tableNum">
            <option  text="Подтвержден" value="Подтвержден">
            </option>
        </select>
        <select th:field="*{namePerson}" class="tableNum">
            <option th:text="${val.getNamePerson()}" th:value="${val.getNamePerson()}">
            </option>
        </select>
        <select th:field="*{numberOfTable}" class="tableNum">
            <option th:text="${val.getNumberOfTable()}" th:value="${val.getNumberOfTable()}">
            </option>
        </select>
        </span>
        <input type="submit" value="подтвердить" class="shine-button"/>
        <hr>
    </form>
    </span>
</div>
</body>
</html>