<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>removeDish</title>
    <link rel="stylesheet" type="text/css" href="/css/RemoveDish.css">
</head>
<body>
<h3> Редактор Меню </h3>
<div class="FormHr">
    <hr>
</div>
<div>
    <div class="FormMenu">
        <form th:action="@{/removeDish}"  method="POST">
            <fieldset>
                <legend>Меню</legend>
                <table>
                    <tr>
                        <td th:each="val : ${mealsMenu.soupMeals}">
                            <form th:action="@{/removeDish}" th:object="${mealsMenu}" method="POST">
                                <select th:field="*{userChoice.id}" class="selectToHidden">
                                    <option
                                            th:value="${val.getId()}"><span th:text="${val.getId()}"> </span>
                                    </option>
                                </select>
                                <span th:text="${val.title}"></span>
                                <img th:src="|/img/${val.linkImage}|" th:title="${val.description}" class="imageMeals" height="180" width="180">
                                <span th:text="|Цена: ${val.price} руб.|"></span>
                                <button type="submit" class="ButtonEntry"><span>удалить</span></button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td th:each="val : ${mealsMenu.mainMeals}">
                            <form th:action="@{/removeDish}" th:object="${mealsMenu}" method="POST">
                                <select th:field="*{userChoice.id}" class="selectToHidden">
                                    <option
                                            th:value="${val.getId()}"><span th:text="${val.getId()}"> </span>
                                    </option>
                                </select>
                                <span th:text="${val.title}"></span>
                                <img th:src="|img/${val.linkImage}|" th:title="${val.description}" class="imageMeals"
                                     height="180" width="180">
                                <span th:text="|Цена: ${val.price} руб.|"></span>
                                <button type="submit" class="ButtonEntry"><span>удалить</span></button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td th:each="val : ${mealsMenu.drinkMeals}">
                            <form th:action="@{/removeDish}" th:object="${mealsMenu}" method="POST">
                                <select th:field="*{userChoice.id}" class="selectToHidden">
                                    <option
                                            th:value="${val.getId()}"><span th:text="${val.getId()}"> </span>
                                    </option>
                                </select>
                                <span th:text="${val.title}"></span>
                                <img th:src="|img/${val.linkImage}|" th:title="${val.description}" class="imageMeals"
                                     height="180" width="180">
                                <span th:text="|Цена: ${val.price} руб.|"></span>
                                <button type="submit" class="ButtonEntry"><span>удалить</span></button>
                            </form>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>
<div class="mainBody">
    <a href="/">Назад в меню</a>
</div>
</body>
</html>