<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css" href="/css/BookingTable.css">
</head>
<body>
<div class="header">
    <h1>Статистика столов</h1>
    <hr>
</div>
<div class="header"><h2>Забронированные столы</h2></div>
<div class="mainBody">
    <span th:each="booking : ${bookingList}">
        <img src="img/table.png">
        <p>Бронь на имя:
            <span th:text="${booking.getNamePerson()}" th:value="${booking.getNamePerson()}"></span>
        </p>
        <p>Стол номер:
            <span th:text="${booking.getNumberOfTable()}" th:value="${booking.getNumberOfTable()}"></span>
        </p>
        <p>Номер телефона:
            <span th:text="${booking.getTelephoneNumber()}" th:value="${booking.getTelephoneNumber()}"></span>
        </p>
        <p>Статус бронирования:
            <span th:text="${booking.getBookingStatus()}" th:value="${booking.getBookingStatus()}"></span>
        </p>
        <p>Забронирован на время:
            <span th:text="${booking.getBookingTableTime()}" th:value="${booking.getBookingTableTime()}"></span>
        </p>
    </span>
</div>
    <hr>
<div class="header"><h2>Свободные столы</h2></div>
<div class="mainBody">
    <span th:each="freeTable : ${freeTableList}">
        <img src="img/table.png">
        <p>Номер стола:
            <span th:text="${freeTable.id}" th:value="${freeTable.id}"></span>
        </p>
    </span>
</div>
<div class="mainBody">
    <a href="/">Назад в меню</a>
</div>
</body>
</html>