body {
	background-color: Azure;
	margin-left: 2%;
	margin-right: 2%;
	font-family: sans-serif;
}

h3 {
  text-align: center;
  font-style: normal;
  font-family: 'Courier New', serif;
}

div.FormHr {
    /*border: 5px  solid grey;*/
    width: 300px; /* Ширина элемента в пикселах */
    padding: 5px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

div.FormOrder {
    /*border: 5px  solid grey;*/
    width: 520px; /* Ширина элемента в пикселах */
    padding: 2px; /* Поля вокруг текста */
    /* margin: auto; Выравниваем по центру */
    margin: auto;
}
div.divAction{
    /*border: 5px  solid grey;*/
    width: 520px; /* Ширина элемента в пикселах */
    padding: 2px; /* Поля вокруг текста */
    /* margin: auto; Выравниваем по центру */
    margin: auto;
}

button.ButtonDel{
    margin-left: 2px;
    float: right;
    background: LightCyan;
	width: 80px;
    height: 20px;
}

button.ButtonExit{
    margin-left: 2px;
    float: left;
    background: LightCyan;
	width: 80px;
    height: 20px;
}
