.header {
    text-align: center;
}

.center {
    text-align: center;
}

.mainBody {
    background-color: #faf8f8;
    border: 3px black solid;
    border-radius: 10px;
    margin-right: 40%;
    margin-left: 40%;
    font-family: serif;
    padding: 2%;
}

.resultBooking {
    font-size: 20px;
}

.end {
    text-align: center;
}

button.ButtonExit{
    margin: auto;
    background: LightCyan;
    width: 80px;
    height: 20px;
}

