body {
	background-color: Azure;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}

h3 {
  text-align: center;
  font-style: normal;
  font-family: 'Courier New', serif;
}

div.FormHr {
    /*border: 5px  solid grey;*/
    width: 300px; /* Ширина элемента в пикселах */
    padding: 5px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

div.FormLog {
    /*border: 5px  solid grey;*/
    width: 200px; /* Ширина элемента в пикселах */
    padding: 5px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

div.FormReg {
    /*border: 5px  solid grey;*/
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

table.getData{
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
    border-collapse: separate; /* Способ отображения границы */ 
    border-spacing: 0 5px; /* Расстояние между ячейками */
	margin: auto; /* Выравниваем по центру */
}
table.getReg{
    border-collapse: separate; /* Способ отображения границы */ 
    border-spacing: 0 2px; /* Расстояние между ячейками */
	margin: auto; /* Выравниваем по центру */
} 
input.ButtonReg{
    background: LightCyan;
	width: 120px;
    height: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
input.ButtonEntry{
	margin-top: 10px;
    background: LightCyan;
	width: 120px;
    height: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
input.InputEmail{
	width: 180px;
    height: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
input.InputPass{
	width: 180px;
    height: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto
}